{% extends 'main/base.html' %}

{% block title %}Payment failed{% endblock %}

{% block content %}
<div class="bg-gray-50 min-h-[80vh] flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md max-w-md text-center">
        <h2 class="text-2xl font-bold mb-4 text-red-800">❌ Payment Failed</h2>
        <p>Unfortunately, your payment could not be processed.</p>
        <a class="text-xl text-blue-600 underline " href="{% url 'notes' %}">Go back to notes</a>
    </div>

</div>
{% endblock %}